@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  label,
  legend {
    @apply block text-sm font-semibold text-gray-900 mb-1;
  }

  input,
  textarea,
  input[type="date"] {
    @apply w-full rounded-lg border border-gray-300 p-2;
  }

  input:focus {
    outline: none;
    border-color: rgb(5, 58, 58);
  }

  button {
    @apply bg-cyan-600 px-4 py-2 rounded-md text-white font-bold hover:bg-cyan-700;
    /* font: "arial", sans-serif; */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sora);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}
