@import "tailwindcss";

@theme {
  --color-app-bg: var(--background);
  --color-app-text: var(--foreground);
  --color-brand: var(--brand);
  --color-surface: var(--surface);
  --color-secondary: var(--secondary);
  --color-blur: var(--blur);

  --font-sora: var(--font-sora);
  --font-inter: var(--font-inter);
}

/* Light Mode */
:root {
  --background: rgb(244, 245, 247);
  --foreground: rgb(15, 23, 42);
  --secondary: rgb(94, 100, 112);
  --brand: rgb(1, 167, 120);
  --surface: rgb(255, 255, 255);
  --blur: rgba(161, 165, 173, 0.5);
  --font-intro: var(--font-inter); /* Fallback */
}

/* Dark Mode */
.dark {
  --background: rgb(8, 12, 20);
  --foreground: rgb(255, 255, 255);
  --secondary: rgb(166, 173, 187);
  --brand: rgb(65, 181, 226);
  --surface: rgb(30, 41, 59);
  --blur: rgba(161, 165, 173, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(8, 12, 20);
    --foreground: rgb(255, 255, 255);
    --secondary: rgb(166, 173, 187);
    --brand: rgb(65, 181, 226);
    --surface: rgb(30, 41, 59);
    --blur: rgba(161, 165, 173, 0.5);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-sora);
}

p {
  line-height: 150%;
  font-family: var(--font-inter);
}

html {
  -webkit-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.3s ease-out;
}

.animate-slide-up {
  animation: slideUp 0.3s ease-out;
}
