@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@layer base {
  label {
    font-size: 0.875rem;
    margin-bottom: 0.25rem;
  }

  input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    /* font: "arial", sans-serif;  */
  }

  input:focus {
    outline: none;
    border-color: rgb(5, 58, 58);
  }

  button {
    @apply bg-cyan-600 px-4 py-2 rounded-md text-white font-bold hover:bg-cyan-700;
    /* font: "arial", sans-serif; */
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: invert, sora, sans-serif;
}
